body{ background:#fff; color:#3E3E3E; }
a{ color:#373d42; }
/* Layout ================================================================================ */
.main{border-top:1px solid #dadada;}
.col-left{background:url(../images/bg_sidebar_right.jpg) no-repeat 100% 0;}
.customer-account-login .col-left, .customer-account-create .col-left, .checkout-onepage-index .col-left {background-image:url(../images/bg_sidebar_right_login.jpg);}

/* ======================================================================================= */
/*homepage*/
/*menu*/
#nav a.level-top {color:#535353;}
#nav ul,
#nav div{background:url(../images/bg_menu.png) repeat 0 0;}


.content-top-left{border:1px solid #dbdbdb;}
.content-top-right .featured{border:1px solid #dadada; }
.featured .title span{color:#383838;}
.content-top-left .slideshow .previous{background:url(../images/i_prev1.png) no-repeat 0 0;}
.content-top-left .slideshow .next{background:url(../images/i_next1.png) no-repeat 0 0;}
.content-top .tab-list ul.tab-list li{ background:url(../images/pipe_tab.png) no-repeat 100% 8px;}
.content-top .tab-list ul.tab-list li a{color:#afafaf; }
.content-top .tab-list ul.tab-list li.active a{color:#383838;}
.widget-title h2{color:#942784;}
.category-products .products-list .product-image{border:1px dashed #dadada;}
/* Global Styles ========================================================================= */

/* Form Elements */
input,select,textarea,button{ color:#535353;}
input.input-text,select,textarea { background:#fff; border:1px solid #e0e0e0; }
button.button span{  color:#242424;}
button.button span span{}
/* Form lists */

/* Grouped fields */
.form-list input.input-text{border:1px solid #e1e1e1;}

/* Customer */
.buttons-set .back-link a span, .box-account .box .box-content a.manager-address span{}
.buttons-set .back-link a span span, .box-account .box .box-content a.manager-address span span{
    
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
	background: none repeat scroll 0 0 #EB7E19;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 1px 2px 1px #EB7E19;
    height: 26px;
    padding: 0 10px;
    }
.back{  
    color: #FFFFFF;
   
    font-size: 16px;
    line-height: 26px;
	
    border-radius: 22px 22px 22px 22px;
  
    height: 26px;
    padding: 0 10px; 
	background: none repeat scroll 0 0 #EB7E19;
    box-shadow: 1px 2px 1px #EB7E19; 
 }
/* Toolbar */
.pages ol li.current{background:url(../images/bg_pager.png) no-repeat 0 0;color:#535353;}

/* Misc */
.link-wishlist span, .link-compare span{ background:url(../images/btn_quickshop_left_plus.png) no-repeat 0 0;}
.link-wishlist span span, .link-compare span span{background:url(../images/btn_quickshop_right.png) no-repeat 100% 0;color:#242424;}
.btn-remove{background:url(../images/i_remove.png) 0 0 no-repeat; }
.btn-remove2{ background:url(../images/i_remove.png) 0 0 no-repeat; }

/* Header ================================================================================ */
.header .form-search input.input-text{ color:#93AE21;}
/*header links*/
.header .links a{color:#942784; font-weight:bold;}

/*header em blog*/
#slideshow_blog{ border-right:1px solid #dadada;}
#slideshow_blog .post-title{color:#535353;}
#slideshow_blog .previous{background:url(../images/i_prev2.png) no-repeat 0 0;}
#slideshow_blog .next{background:url(../images/i_next2.png) no-repeat 0 0;}

/* Sidebar =============================================================================== */
.block{background:url(../images/line.png) no-repeat 0 100%;}
.block .block-title strong span{color:#141414;}
.block .actions a{color: #535353;background:url(../images/btn_view_detail.png) no-repeat right center;}

/* Mini Blocks */
/* Mini Products List */
.mini-products-list .product-image{border: 1px dashed #DADADA;}

/*block cart*/
.header .block-cart{background-color:#fff;}
.header .block-cart .block-content{border:1px solid #c0c0c0;}
.block-cart .mini-products-list li.item{background:url(../images/line.png) repeat-x bottom left;}
.block-cart .mini-products-list .product-details{color:#888;}

/* Block: Account */
.block-account .block-content li{background:url(../images/line.png) no-repeat bottom left;}
/* Block: Layered Navigation */
.block-layered-nav li{color:#888; }
.block-layered-nav a {color:#535353;}

/* Block: Recently Viewed */
.block-recent-product-review .review-text{color:#888;}
.block-subscribe label{color:#9e7293;background:url(../images/i_newsletter.png) no-repeat left center;}
.block-recent-product-review .product-image{border:1px dashed #dadada;}

/* Block: Subscribe */
.block-subscribe{
  background-image: url("../images/felt.jpg");
    background-position: 102% 95%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 10;
}

/* Category Page ========================================================================= */
.category-title h1, .category-title h2,.page-title h1,.page-title h2,.aff-title > h2,.one-step-checkout h1.checkout_header{font-family:'Conv_grilcbcb_0',Sans-Serif; color:#91AC1D;padding:0 1px;}

/********** < Product Prices */
.price { color:#535353;width:140px;} 
.old-price .price{ color:#535353;}

/* Price notice next to the options */
.price-notice .price {color:#2f2f2f; }

/* Add to Cart */
button.btn-cart span span{color:#ffffff;}

/* Product Shop */
.product-shop .product-name h1{  color: #889F2C;
    font-family: 'Conv_grilcbcb_0',Sans-Serif;}
.product-shop .short-description h2, .wrapper-title{color:#141414;}

/* Block: Tags */
.form-add h4{color:#888;}
#product-review-table thead th{color:#888;}

/* Block: Reviews */
.product-view .box-tags input.input-text{border-color:#E1E1E1}

/* Product Tags */
.tags-list li a{color:#535353;}

/* Shopping Cart ========================================================================= */
/* Shopping Cart Table */
.data-table tfoot tr td{border:1px solid #dedede;}
.data-table tbody td{border-bottom:1px dashed #dedede;}
.data-table tbody td.t-first{border-left:1px solid #dedede;}
.data-table tbody td.t-last{border-right:1px solid #dedede;}
.cart-table tbody td.product-name .product-image{border: 1px dashed #DADADA;}

/* Shopping Cart Collateral boxes */
.cart .crosssell h2{color:#141414;}

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount h2, .cart .shipping h2, .cart .totals h2 {color:#141414;}

/* Shopping Cart Collateral boxes */
.cart .crosssell{border-top:1px solid #dadada;}
.cart .cart-collaterals .col2-set{background:url(../images/bg_tax.jpg) no-repeat 614px 0;}
.cart .crosssell .previous{background: url(../images/i_prev4.png) no-repeat 0 0;}
.cart .crosssell .next{background: url(../images/i_next4.png) no-repeat 0 0;}

/* Shopping Cart Totals */
button.btn-proceed-checkout span span, #opc-review .buttons-set button.btn-checkout span span{color:#ffffff; }

/* Checkout ============================================================================== */
/* One Page Checkout */
.block-progress dt{background:url(../images/line.png) no-repeat 0 100%;}
.block-progress dd {background:url(../images/line.png) no-repeat 0 100%;}
.opc .form-list .input-box input.input-text {border-color:#e0e0e0;}
#opc-login h4{color:#535353; }
#login-form h4{color:#535353;}
#checkout-review-table tfoot tr td.t-last{border-right:1px solid #dadada}
#checkout-review-table tfoot tr td.t-first{border-left:1px solid #dadada;}
#review-buttons-container{border:1px solid #dadada;}

/* Account Login/Create Pages ============================================================ */
h3.top-title{  color: #889F2C;
    font-family: 'Conv_grilcbcb_0',Sans-Serif;}

/* My Account ============================================================================= */

/* My Wishlist */
.my-wishlist .product-image{border:1px dashed #dadada;}

/* My Reviews */
.product-review h3{ color:#2f2f2f;}

/* Footer ================================================================================ */
.footer-main{background:url(../images/bg_footer.jpg) no-repeat 0 0;}
.footer1 .slideshow-wrapper{border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.footer1 .links-set a{color:#535353;}
.footer1 .links-set a span{color:#141414;}
.footer1 .category-products h2{color:#141414;}
.footer1 .products-list .link-more{color:#535353;background:url(../images/btn_view_detail.png) no-repeat right center;}
.quick-link{border-bottom:1px solid #dadada;}
.footer address{color:#535353;}
.footer address em{color:#535353;}
.footer address a{color:#535353;}
.store-switcher select, .block-currency .block-content select{color:#535353;}

/* dashboard - recent orders */
#my-orders-table tfoot a span{color: #fff;}
#my-orders-table tfoot a span span{}

.more-views ul li.empty div{border:1px dashed #dadada;}
.product-options{}
.order-info-box {border:1px solid #d0cbc1; }
.sales-order-view #my-orders-table tfoot tr.last td{border-bottom:1px solid #dadada;}
.sales-order-view #my-orders-table tfoot tr td.t-first{border-left:1px solid #dadada;}
.sales-order-view #my-orders-table tfoot tr td.t-last{border-right:1px solid #dadada}
.product-review .product-img-box .product-image{ border:1px dashed #DADADA;}
#super-product-table tbody tr.last td{border-bottom:1px solid #DEDEDE}
.product-options select{border:1px solid #e6e6e6;}

.compare-table tbody td.last { border-right:1px solid #ccc; }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { border-bottom:1px solid #ccc !important; }
.compare-table tbody th,
.compare-table tbody td { border-top:1px solid #ccc; border-left:1px solid #ccc; }
.best-selling h3 { border-bottom:1px solid #ccc;}
.best-selling td{ border-top:1px solid #ccc;border-left:1px solid #ccc; }
.form-list li.additional-row { border-top:1px solid #ccc; }
.compare-table tbody th {  color:#13151b; }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 button.btn-proceed-checkout span span, #opc-review .buttons-set button.btn-checkout span span{padding:4px 0px !important;} 
}
.aff-title > h2 {
    font-size: 30px;
}