<div style="max-width:768px;">
<p>Financial Strength is not only useful to maintain stock, but is also required to ensure that cash flow costs do not eat into profitability and the ASC/ARDs do not enter into a debt trap where (s)he is only earning to repay interest, and keeping very little for themselves.<br /><br /><br />
We also want to ensure that the Network has the ability to work his way towards becoming financially independent of the Dealer (especially during festive season). Not now, but in the future.<br />
What to look out for?<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Are there sufficient own funds invested in both Infrastructure and Working Capital. If an ASC has put all of his money only in infrastructure, then does her earn enough after paying interest on working capital? How much own working capital would be required to keep him interested in the return<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Does he have the strength to handle slowdown in the market? Can he maintain the requisite product portfolio and not get eaten away by debt burden if cannot rotate his working capital?<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Will he suffer retail loss if the market picks up suddenly? Does he have the strength to infuse additional funds into the business (borrowed or otherwise) when the need arises, or does he solely rely on dealer credit?<br /><br />
Do not assume that just because of party is wealthy, it is financially strong. The question is:<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Is the business financially strong<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Does the individual have the capability to source additional finance within a short time if needed, without landing himself into a debt trap</p>
</div>