div.form-item-sub-question,.prev-tar-dt-remark{display:none;}
.tooltip {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #ff0000;
    display: none;
    font-size: 17px;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 36px;
    top: -17px;
    width: 400px;
    z-index: 100;
}
.form-type-item {
    position: relative;
}
.form-type-item:hover > .tooltip {
    display: block;
}
.tooltip:hover {
    display: block;
}
.form-type-item span.info {
    background-image: url("../images/1466247534_info.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 100%;
}
td span.prev-evaluation {
    background-image: url("../images/1466523347_Info.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.prev-tar-dt-remark{
position: absolute; background: rgb(221, 221, 221) none repeat scroll 0% 0%; border-radius: 5px; padding: 5px; text-align: center; z-index: 10; right: 0px; bottom: 23px; box-shadow: 0px 0px 2px;
}
#pd-evaluation-display-form  table td{position:relative;}
#pd-evaluation-display-form  .form-item [id^=edit-question-max-score-],#pd-evaluation-display-form  .form-item [id^=edit-question-score-]{ 
    border: medium none;
    box-shadow: none;}
td.pd-question {
    background: #555 none repeat scroll 0 0;
    color: #fff;  
    vertical-align: bottom;
}
 table td.pd-question .form-item{margin-bottom:0px !important;} div.form-item-sub-question{display:none;}#pd-evaluation-display-form textarea[readonly="readonly"],#pd-evaluation-display-form input[readonly="readonly"]{	    background: #ddd none repeat scroll 0 0 !important;}.per-symbol {    position: absolute;    right: 8px;    top: 34%;}.logged-in .form-item{position:relative;}span.percentage{position:absolute;top:7px}#pd-evaluation-display-form .form-text.validation_error,#pd-evaluation-display-form  tr.validation_error {    border: 2px solid #ff0000;}