.tooltip {
  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #ff0000;
    display: none;
    font-size: 17px;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 36px;
    top: -17px;
    width: 400px;
	z-index:100;  
	
}
.form-type-item{   position:relative;}
.form-type-item:hover  > .tooltip {
    display:block;
}
.tooltip:hover {
    display:block;
}
.form-type-item span.info{
	 background-image: url("../images/1466247534_info.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 100%;
	text-indent: -9999px;
	
	cursor:pointer;
}
td span.prev-evaluation{
	background-image: url("../images/1466523347_Info.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
	float:right;
	cursor:pointer;
	text-indent: -9999px;
}
tr.ard-validation-error{border:2px solid #ff0000 !important;}
.ard-validation-error{border:2px solid #ff0000 !important;}[id^=edit-question-score-][readonly="readonly"]{background:#aaa !important;}


[id^=edit-question-description-][type="text"]{width:100px;}
.sreadyonly,[disabled="disabled"]{background:#ddd; cursor: not-allowed;}
tr[id^="criteria-result-"] td{ background: green none repeat scroll 0 0 !important;
    color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: inherit;}
.overall-score{background: green none repeat scroll 0 0 !important;font-size: 16px; color:#fff; padding:5px;}
.fieldset-wrapper .criteria_date{float: right; position: absolute; top: -14px; right: 10px;}
#network-evaluation-ard-sales-display-form fieldset.collapsible .fieldset-legend,#network-evaluation-asc-sales-display-form fieldset.collapsible .fieldset-legend{display:inline;}
legend .status-and-date{display:none;}
.collapsed legend .status-and-date {color: green;
    display: inline-block;
    float: right;
    font-size: 18px;
    text-align: center;
    width: 55%;
}
.status-and-date .cdt {
    float: right;
	margin-right:20px;
}
.status-and-date .remark {
    float: left;
}
.error-count {
    color: #ff0000;
}
.prev-tar-dt-remark{display:none;}
textarea[readonly="readonly"],#network-evaluation-asc-service-display-form input[readonly="readonly"] ,#network-evaluation-ard-service-display-form input[readonly="readonly"] {
    background: #ddd none repeat scroll 0 0;cursor: not-allowed;
	
}
