 /*
* Company : Orange Mantra
* Author : Kumar.shiv@orangemantra.in
* Package : Myscore
* Module : My Travel Plan
* Creation Date : July , 2016
*/

 @import url("//netdna.fontawesomecdn.com/font-awesome/4.1.0/css/font-awesome.css"); .page-network-evaluation .collapsible .fieldset-legend .fieldset-title{	color:red; font-size:20px;}.page-network-evaluation .collapsible table tr td:first-child{	background: #999 none repeat scroll 0 0;    color: #fff;	width:45%;}.page-network-evaluation .collapsible table tr:nth-child(even){	background: #aaa none repeat scroll 0 0;}.page-network-evaluation .collapsible table tr:nth-child(odd){	background: #ddd none repeat scroll 0 0;}.page-network-evaluation .collapsible table tr:first-child td{	font-weight:bold; font-size:18px;	background: #999 none repeat scroll 0 0;	color:#fff;}.page-network-evaluation #edit-evaluation-details {    background: #c32711;}td.fc-day-number{cursor:pointer; text-align:left !important;}td.fc-past{color: rgba(31, 11, 11, 0.42);}td.fc-day-number:hover{background: #e1e0de !important; color: #3a87ad}
 td.fc-day-number > a{  background: green none repeat scroll 0 0;    border-radius: 5px;    color: #fff; font-size: 10px;    float: right;    padding: 2px;}
 
 .page-my-travel-plan.sidebar-first .tabs.primary li{display:none;}.page-my-travel-plan.sidebar-first .tabs.primary li.active{display:block;}
 
 
 .fc-event-container .first-half .fc-content,.fc-event-container .first-half.fc-event{background: #03567c;}

 
 .fc-event-container .second-half .fc-content,.fc-event-container .second-half.fc-event{background:#3a87ad;}.fc-event-container .leave .fc-content{background: #fa5e48 none repeat scroll 0 0 !important;}
 
  .fc-event-container .first-half.leave .fc-content,.fc-event-container .second-half.leave .fc-content{background: #fa5e48;}
  
 .page-my-travel-plan .monthly-visit , .page-my-travel-plan .download_vsm{width:45%;float:left;margin-bottom: 50px; text-align:center;
   }
  .page-my-travel-plan .monthly-visit span, .page-my-travel-plan .download_vsm span{  background-color: #666;
    background-image: url("../images/car.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100px;
    display: inline-block;
    height: 128px;
    margin-top: 27px;
    padding: 5px;
    width: 128px;background-size: 100px auto;}
 .page-my-travel-plan .download_vsm span{ background-image:url(../images/document.png); background-color: #F95D56;}
 .page-my-travel-plan .download_vsm a,.page-my-travel-plan .monthly-visit a{display:block;}
 .fc-next-button,.fc-prev-button,.fc-today-button {padding:5px;}
	.noborderbutton{display: inline;background: transparent;border: 0px;outline: 0px;cursor:pointer;}
	.none{display:inline;}

	.disabled{border: 1px solid rgba(204, 204, 204, 0.5);
    color: rgb(178, 178, 178);}
	.fc-sat:not(.fc-day-header),.fc-sun:not(.fc-day-header){background:#ffcdcd;}
	.edit-plan{display: inline-block;
    position: absolute;
    bottom: -4px;
    left: 1px;
    cursor: pointer;}
	.current-month-submit{    background: transparent;
    outline: 0px;
    border: 0px;
    padding-top: 2px;cursor:pointer;}
	.loaders img{position: absolute;
    right: 0px;
    left: 0px;
    top: 190px;
    margin: 0px auto;
    bottom: 0px;
    z-index: 9;}
	.loaders{position:relative;display:none;}
.current-month-submit[disabled="disabled"]{background:#ddd;}
#eventInfo{width:480px; height:auto;}
td span.second-half{background:#3A87AD;color:#fff;padding:2px;display:block;}
td span.first-half{background:#03567C;color:#fff;padding:2px;display:block;}
td span.leave{background:#FA5E48;color:#fff;padding:2px;display:block;}
td span.full-day{background:#03567C;color:#fff;padding:2px;display:block;}
td span.full-day.leave{background:#FA5E48;color:#fff;padding:2px;display:block;}
td span.second-half.leave{background:#FA5E48;color:#fff;padding:2px;display:block;}
td span.first-half.leave{background:#FA5E48;color:#fff;padding:2px;display:block;}
.form-item-month #select-month{width:150px;}
table.visit-summary-of-month{width:auto;overflow-y:scroll; height:250px;display:block}
.visit-summary-of-month.sticky-enabled.tableheader-processed.sticky-table th{width: 16%;}
.addmoreplan{display:none}
.download-report .col-left,.download-report .col-right{width:48%;float:left;padding:1%;}
.download-report {margin:0 0 20px;}
.travel_guideline {
    color: #000;
    font-size: 23px;
    text-decoration: underline !important;
}