<ul class="links">	
<li class="first"><a href="<?php $this->getUrl(); ?>/wishlist/" title="My Wishlist">Wishlist</a></li>		
<li class="last"><a href="<?php $this->getUrl(); ?>/customer/account/" title="My Account">Login/Register</a></li>
</ul>
