tr.survey-validation-error{border:2px solid #ff0000 !important;}
.survey-validation-error{border:2px solid #ff0000 !important;}
.error-count{color:#ff0000}

#network-survey-asc-sales-display-form table th:first-child,
#network-survey-asc-service-display-form table th:first-child,
#network-survey-ard-sales-display-form table th:first-child,
#network-survey-ard-service-display-form table th:first-child
{width:250px;}
[readonly] { background: #ccc;color: #000; cursor: not-allowed;}
#