.tooltip {
  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #ff0000;
    display: none;
    font-size: 17px;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 36px;
    top: -17px;
    width: 400px;
	z-index:100;  
	
}
.form-type-item{   position:relative;}
.form-type-item:hover  > .tooltip {
    display:block;
}
.tooltip:hover {
    display:block;
}
.form-type-item span.info{
	 background-image: url("../images/1466247534_info.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 100%;
	text-indent: -9999px;
	
	cursor:pointer;
}