
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #3b3b3b;
/*background: url("../images/128-174.jpg") repeat scroll;
*/
/*background: url("../images/128-174.jpg") repeat scroll 0 0 #F0F1F2;*/
background: url("../images/bg-sky.jpg") repeat scroll 0 0 #FFFFFF;
/*background:url("../images/hero-footer.png") no-repeat scroll right bottom #FFFFFF*/
/*background: url("../images/bg.gif") repeat-x scroll left top #DEF0E3;*/
/*background: url("../images/bg3.jpg") no-repeat center #000;*/
/*background: rgb(173,217,228)*/
/*background-color:#e0e7e9;*/ 
}

.comment .comment-arrow {
  border-color: #ffffff;
}
/*#page,*/
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
#main-wrapper{
  /*background: url("../images/128-174.jpg") repeat scroll 0 0 #F0F1F2;*/
    background: url("../images/bg-sky.jpg") repeat scroll 0 0 #F0F1F2;
    box-shadow: 0 2px 1px #A8A8A8;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
}
#overlay #main-wrapper {
    background: none;
    border: 0px solid #E5E5E5;
    border-radius: 0px;
    box-shadow: 0 0px 0px #A8A8A8;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header{
    /*border-bottom: 30px solid #C32711;
    background: url("../images/nav-bg.jpg") repeat scroll 0 0 #FFFFFF;*/
    background: url("../images/bg-sky1.jpg") repeat scroll 0 0 #FFFFFF;
}
#hero-border {
 background: url("../images/nav-bg.jpg") repeat scroll 0 0 #FFFFFF;
  height: 45px;
}

/*#page-wrapper,
#footer-wrapper  {
  background-color: #F3F3F3;
}*/

a {
  color: #0071B3;
  transition: all 0.5s ease 0s;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}

.sidebar .block {
  /*background-color: #f6f6f2;*/
  /*border: 1px solid #ccc;*/
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
#name-and-slogan,
#name-and-slogan a{
  color: gray;
}
