
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.logged-in #header div.section,
.logged-in #featured div.section,
.logged-in #messages div.section,
.logged-in #main,
.logged-in #triptych,
.logged-in #footer-columns,
.logged-in #footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
 #main .content{
 background-color: white;
 background-color: rgba(0, 0, 0, 0.1);
 margin-bottom: 0px;
  /*background-color:#fff;*/
  /*background-color:rgba(255, 255, 255, 0.2);*/
  /*border:1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;*/
 /* background-color:#fff;*/
  padding:10px;
}
.front #main .content {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 10px;
}

#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.logged-in.one-sidebar #content {
  width: 80%;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 20%;
}
#main-wrapper {
  min-height: 400px;
   padding-top: 20px;
}
#overlay #main-wrapper {
    min-height: 0px;
    padding-top: 20px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}
