.tooltip {
  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #ff0000;
    display: none;
    font-size: 17px;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 36px;
    top: -17px;
    width: 400px;
	z-index:100;  
	
}
.form-type-item{   position:relative;}
.form-type-item:hover  > .tooltip {
    display:block;
}
.tooltip:hover {
    display:block;
}
.form-type-item span.info{
	 background-image: url("../images/1466247534_info.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 100%;
	text-indent: -9999px;
	
	cursor:pointer;
}
td span.prev-evaluation{
	background-image: url("../images/1466523347_Info.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 16px;
	float:right;
	cursor:pointer;
	text-indent: -9999px;
}
tr.ard-validation-error{border:2px solid #ff0000 !important;}
.ard-validation-error{border:2px solid #ff0000 !important;}[id^=edit-question-score-][readonly="readonly"]{background:#aaa !important;}


[id^=edit-question-description-][type="text"]{width:100px;}
.sreadyonly,[disabled="disabled"]{background:#ddd; cursor: not-allowed;}
tr[id^="criteria-result-"] td{ background: green none repeat scroll 0 0 !important;
    color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: inherit;}
.overall-score{background: green none repeat scroll 0 0 !important;font-size: 18px !important; color:#fff !important; padding:5px; text-align:center;}
.fieldset-wrapper .criteria_date{float: right; position: absolute; top: -14px; right: 10px;}
#network-evaluation-asc-service-display-form fieldset.collapsible .fieldset-legend,#network-evaluation-ard-service-display-form fieldset.collapsible .fieldset-legend,#network-evaluation-ard-sales-display-form fieldset.collapsible .fieldset-legend,#network-evaluation-asc-sales-display-form fieldset.collapsible .fieldset-legend{display:inline;}
legend .status-and-date{display:none;}
.collapsed legend .status-and-date {color: green;
    display: inline-block;
    float: right;
    font-size: 18px;
    text-align: center;
    width: 55%;
}
.status-and-date .cdt {
    float: right;
	margin-right:20px;
}
.status-and-date .remark {
    float: left;
}
.error-count {
    color: #ff0000;
}
.prev-tar-dt-remark{display:none;}

textarea[readonly="readonly"]/* ,#network-evaluation-asc-service-display-form input[readonly="readonly"] ,#network-evaluation-ard-service-display-form input[readonly="readonly"] */,input[id^="edit-question-actual-par-"] {
    background: #ddd !important;
	
}
#network-evaluation-ard-service-display-form th{ padding:10px;}#network-evaluation-ard-service-display-form td{ padding:10px;}.page-network-evaluation .collapsible .fieldset-legend .fieldset-title {    color: #000 !important;    font-size: 15px !important;}.form-item.form-type-radio {    float: left;    width: 50%;}.form-item textarea {    height: 35px;}.fieldset-wrapper td {    color: #000;    font-family: roboto;    font-size: 14px;    }
.fc-ltr .fc-basic-view .fc-day-number{text-align:center !important;}
 #upload_photo_window{  
    background-size: 27px auto;
    padding: 5px;
    text-align: left;
    width: 150px; -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(249, 198, 103, 1) 0%, rgba(247, 150, 33, 1) 100%) repeat scroll 0 0;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    border-image: none;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    text-align: center;}
	
	.loading-window{  background-image: url("../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 4px;
    width: 22px;}