*{
	margin: 0px;
	padding:0px;
}
html,body{
	width:100%;
	height: 100%;
	background:#f2f2f2 none repeat scroll 0 0; font-family: "Open Sans";
}
h1{
	text-align:center;
	margin:2px auto;	
	font-family: 'Open Sans';
	border-bottom: 4px solid #FF0102 ;
}
.form-container{
	text-align:center;
	margin:auto 0; background: #ddd none repeat scroll 0 0;
}
.form-group p{display: inline-block;}
form input{margin-bottom: 2%;}
.btn{
	width: 15%;
	height: 40px;
	background-color: rgba(249, 198, 103, 1);
	border: 1px solid rgba(249, 198, 103, 1);
	color: #fff;
	margin-top: 2%;
	cursor:pointer;
}
.btn#image_upload{font-size:20px;}
a.btn{
	width: 15%;
	height: 40px;
	background-color: #FF0102;
	border: 1px solid #FF0102;
	color: #fff;
	margin-top: 2%;
	padding:5px;
	text-decoration:none;
}
.file{
	height: 30px;
	margin-bottom: 0;
}
.clearfix{
	clear: both;
}
.uploaded-images{
	
    text-align: center;
   
	
}
.uploaded-images #error_div{
	color: #ff0000;
}
.uploaded-images #success_div img{
	margin: .1%;
}
#loader{
	font-size: 1.2em;
	color: #ff0000;
	
}
.help-block{
	display: block;
	color: #ff0000;
}
.uploaded-images #success_div img{
    margin: 0.1% 10px 0.1% 0.1%;}
	
	#message {
    color: green;
    font-size: 23px;
    text-align: center;}
	
	#image_type{ margin: 10px 0;
    padding: 6px 9px;
    width: 250px;}
	
#success_div{margin-bottom: 20px; width: 100%;  padding: 10px;}
#pre_uploaded_images{margin-bottom:10px; font-family: "Open Sans";}

	#pre_uploaded_images li{  border: 1px solid #ddd; position:relative;
    float: left;
    font-size: 12px;
    list-style: outside none none;
    margin: 10px;
    padding: 2px;}
	#pre_uploaded_images {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
    
    width: auto;
}#pre_uploaded_images > p {color: red;  font-size: 20px;
    background: #ddd none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}
#success_div:empty{display:none;}
.remove_image {
   background: #ff0000 none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    padding: 2px 0 6px;
    position: absolute;
    right: -11px;
    text-align: center;
    top: -9px;
    width: 20px;
    z-index: 10;
}